.variable {
  font-weight: bold;
  color: #0079cf;
}

.variableerror {
  font-weight: bold;
  color: #ff0000;
}

.wrapper {
  max-height: 100%;
  overflow: auto;
}

.textarea {
  outline: none;
}

.textarea::selection {
  background-color: rgba(0, 0, 255, 0.2);
}