.spin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;

  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
}

.wrapper {
  position: relative;
  height: 100%;
}

.row {
  height: 100%;
}